* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: #3d3d7b;
  font-family: Loto, sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.task-list-content {
  width: 600px;
  min-height: 500px;
  background-color: rgb(205, 205, 205);
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
}

h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}